{% extends 'usuarios/base.html' %}

{% block navegacao %}
    <li>
        <i class='bx bx-user-plus'></i> 
        <span class="item_menu"><a style="text-decoration: none; color: black;" href="{% url 'add_usuarios'%}">Novo Usuario</a></span>
    </li>
    <li>
        <i class='bx bx-building-house'></i>
        <span class="item_menu"><a style="text-decoration: none; color: black;" href="{% url 'catalogo_aptos'%}">Catalogo aptos</a></span>
    </li>
{% endblock%}


{% block conteudo %}

<div class="container">
    <h1>Usuários Cadastrados</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}