{% extends 'base.html' %}
{% load static %}

{% block main %}

    <main class="conteudo">
        <div class="header">
            <span class="header">Apartamentos</span>
        </div>
        <div class="quadro-aptos">
            {% for apto in aptos %}
                <form class="controles" action="{% url 'abre-apto' %}" method="POST">
                    {% csrf_token %}
                    <label>Id</label>
                    <input name="id_apto" class="form-control-sm" type="number" value="{{ apto.id_apto }}" enabled="false"></br>
                    <button class="form-control-sm">Abrir</button>
                </form>
            {% endfor %}
        </div>
    </main>

{% endblock %}
