{% extends 'base.html' %}
{% load static %}

{% block main %}

    <div class="container-aptos-cadastrados">
        <h1>Apartamentos</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Código</th>
                <th>Número do apartamento</th>
                <th>Nome do inquilino</th>
            </tr>
            {% for apto in aptos %}
            <tr>
                <td>{{apto.id_apto}}</td>
                <td>{{apto.numero_apto}}</td>
                <td>{{apto.morador}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
