{% extends 'base.html' %}
{% load static %}

{% block main %}
    <main class="conteudo">
        <div class="container-novo-apto">
            <form action="{% url 'update-apto' %}" method="post">
                {% csrf_token %}
                <h2>Edita apto</h2>
                <label>Id</label>
                <input name="id_apto" class="form-control-sm" type="number" value="{{ aptos.id_apto }}"></br>
                <label>Numero</label>
                <input name="numero_apto" class="form-control-sm" type="number" value="{{ aptos.numero_apto }}"></br>
                <label>Nome do inquilino</label>
                <input name="morador" class="form-control-sm" type="text" value="{{ aptos.morador }}"></br>
                <label>Aluguel</label>
                <input name="aluguel" class="form-control-sm" type="text" value="{{ aptos.aluguel }}"></br></br>
                <button class="form-control-sm">Enviar</button>
            </form>
        </div>
    </main>
{% endblock %}