{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-novo-apto">
        <form action="{% url 'salvar_Apto' %}" method="post">
            {% csrf_token %}
            <h2>Cadastro apto2</h2>
            <label>Numero</label>
            <input name="numero_apto" class="form-control-sm" type="number"></br>
            <label>Nome do inquilino</label>
            <input name="morador" class="form-control-sm" type="text">
            <button class="form-control-sm">Enviar</button>
        </form>
    </div>
{% endblock %}